<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert New Pet</title>
</head>
<body>
	<form th:object="${newPet}"th:action="@{/update/{id}(id=${newPet.id})}" method=POST>
		Name: <input name="name" size="20" th:field="*{name}"><br />
		Species: <input name="species" size="10"th:field="*{species}"><br /> 
		Age: <input name="age" size="4"th:field="*{age}"><br /> 
		Weight: <input name="weight" size="10"th:field="*{weight}"><br /> 
		Color: <input name="color" size="10"th:field="*{color}"><br /> 
		<!--Figuring out how to add owner -->
		 <input name="submit" type="submit" value="submit" />
	</form>
	<a href="viewAll">View all Pets</a>
	<a href="inputOwner">Add an Owner</a>
</body>
</html>
